.search-bar {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter-options select,
.filter-options input[type="text"],
.filter-options input[type="number"] {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: grey; /* Text color */
}

.page-filter {
  display: flex;
  align-items: center;
}

.page-filter input[type="number"] {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 10px;
}
