<div class="container">
  <h2>Book List</h2>
  <div class="search-bar">
    <input type="text" [(ngModel)]="filterText" placeholder="Search by book name"
           (input)="filterBooks()">
  </div>
  <div class="filter-options">
    <!--TODO Multiselect -->
    <select [(ngModel)]="selectedAuthors" (change)="filterBooks()">
      <option value="">Filter by Authors</option>
      <option *ngFor="let author of authors" [value]="author">{{ author }}</option>
    </select>
    <!--TODO Multiselect -->
    <select [(ngModel)]="selectedLanguages" (change)="filterBooks()">
      <option value="">Filter by Languages</option>
      <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
    </select>
    <!--     Wrap the "Min Pages" and "Max Pages" inputs in a div to keep them in the same row -->
    <div class="page-filter">
      <input type="number" [(ngModel)]="minPages" placeholder="Min Pages" (input)="filterBooks()">
      <input type="number" [(ngModel)]="maxPages" placeholder="Max Pages" (input)="filterBooks()">
    </div>

    <!--Select-->
    <select [(ngModel)]="selectedGenres" (change)="filterBooks()">
      <option value="">Filter by Genre</option>
      <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
    </select>
  </div>

  <div *ngFor="let book of books" class="book-item" (click)="openBookPreview(book)">
    <p><strong>Name:</strong> {{ book.name }}</p>
    <p><strong>Price:</strong> {{ book.price | currency}}</p>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Date:</strong> {{ book.date }}</p>
    <p><strong>Genre:</strong> {{ book.genre }}</p>
    <p><strong>Language:</strong> {{ book.language }}</p>
  </div>
  <button mat-raised-button color="black" (click)="navigateToAddBook()">Add Book</button>

  <!-- Add a button to open the author input form -->
  <button mat-raised-button color="primary" (click)="openAuthorInputForm()">Add Author</button>

  <!-- Author input form (displayed conditionally) -->
  <div *ngIf="addingAuthor" class="author-input-form">
    <textarea [(ngModel)]="newAuthor" placeholder="Enter author name"></textarea>
    <button mat-raised-button color="primary" (click)="addAuthor()">Submit</button>
    <button mat-raised-button color="warn" (click)="closeAuthorInputForm()">Cancel</button>
  </div>
</div>
<app-book-preview *ngIf="isPreviewOpen" [book]="selectedBook"
                  (close)="closeBookPreview()"></app-book-preview>
