<div class="container">
  <h2>Add New Book</h2>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" required />
    </div>
    <div>
      <label for="price">Price:</label>
      <input type="number" id="price" formControlName="price" required />
    </div>
    <div>
      <mat-form-field style="margin-right: 16px;">
        <mat-label>Author:</mat-label>
        <mat-select formControlName="author" multiple>
          <mat-option *ngFor="let author of authors" [value]="author">{{ author }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Language:</mat-label>
        <mat-select formControlName="language">
          <mat-option *ngFor="let language of languages" [value]="language">{{ language }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <label for="date">Date:</label>
      <input type="text" id="date" formControlName="date" required />
    </div>
    <div>
      <label for="genre">Genre:</label>
      <input type="text" id="genre" formControlName="genre" required />
    </div>
    <button type="submit" [disabled]="bookForm.invalid">Add Book</button>
  </form>
</div>
